@import "mixins";
@import "color";
@import "mobile";


  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@200;400;600&display=swap');

@font-face {
    font-family: myfont;
    src: url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
}

.contanier {
    @include container;

    .main {
        width: 34rem;
        height: 37rem;
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
        background-color: $White;
        margin-bottom: 20px;
        position: relative;
        user-select: none;

        @media (max-width: 768px) {
            @include main-mobile;
        }

        header {
            @include header;

        }

        //  this is for the unread section
        .unread {
            @include unread;
        }

        section {
            @include section;


            &:nth-of-type(5) {
                display: flex;
                justify-content: right;



                p {
                    font-size: 12px;
                    padding: 13px;
                    font-weight: 500;
                    color: $Dark-grayish-blue;
                    border: 1px solid $Light-grayish-blue-2;
                    border-radius: 5px;
                    cursor: pointer;
                    width: 36em;

                    @media (max-width: 768px) {
                        @include comment;

                    }

                    &:hover {
                        background-color: $Light-grayish-blue-1;
                    }
                }
            }

            &:nth-of-type(6) {
                display: flex;
                align-items: center;


                div {
                    display: flex;
                    flex-direction: column;
                    margin-right: 8rem;

                    @media (max-width: 768px) {
                        margin-right: .7rem;


                    }
                }
            }
        }


    }

}